<div class="d-flex justify-content-between">
<div class="my-3">
  <%= link_to "< Back to Articles", articles_path, class: "btn btn-dark" %>
</div>
<h1>//Article[<%= @article.id %>]</h1>
</div>
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Title</label>
      <input type="text" class="form-control" value="<%= @article.title %>" disabled>
    </div>
    <div class="form-group col-md-6">
      <label>Author</label>
      <input type="text" class="form-control" value="<%= @article.author&.full_name %>" disabled>
    </div>
  </div>
  <div class="form-group">
    <label>Post</label>
    <textarea class="form-control" rows="15" disabled><%= @article.post %></textarea>
  </div>
    <div class="form-group">
      <div class="row">
        <div class=" col-md-8">
          <label>Created at: <strong><%= @article.created_at.strftime("%d %B %Y") %></strong></label> |
          <label>Updated at: <strong><%= @article.updated_at.strftime("%d %B %Y") %></strong></label>
        </div>
        <div class=" col-md-4 d-flex justify-content-end">
          <%= link_to "Edit", nil, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
</form>
